{# index page template #}
{% extends 'front_pages/layout.html.twig' %}
{% import "modules/macro.html.twig" as macros %}
{% block content %}
        <div id="wrapper">     
            <div id="page">
                <div id="crazy-people">
                    <div class="form-my-new">
                        <h3>Build a website</h3>
                        <div class="feedback" >  
                            <div>
                                {{form_feed_back.email }}
                            </div>
                        </div>
                        <script>
                            function reloadme() {
                                    // yes I know it is a hack
                                    document.location.href = './';
                            }
                        </script>
                        {% if (new_website.url != '') %}
                                <div>
                                    <a href="{{new_website.url}}" 
                                       target="_blank" onclick="reloadme();" 
                                       class='new-site-a'/>Go to your new {{new_website.name}}</a>
                                </div>
                        {% else %}
                                <div>
                                    <form action="/noinstall" method="">
                                        {{ form_widget(new_website_form.build_a_website) }}
                                        <input type="submit" value="make my new website" />
                                    </form>
                                </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
       <pre>
            {{ dump(app_feedback) }}
       </pre>
{% endblock %}
